html {
    scroll-behavior: smooth;
}

.bg-green {
    color: #FFF;
    background-color: #097B76;
}

.bg-dark-green {
    color: #FFF;
    background-color: #09716D;
}

.color-blue {
    color: #003444;
}

.btn-poli {
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #2C3191;
    border: 1px solid #2C3191;
    color: #FFF;
}

.btn-poli:hover {
    background: #191d69;
    border: 1px solid #191d69;
}

.btn-poli span {
    white-space: nowrap;
}

.color-green {
    color: #097B76;
}

#contact-us a {
    text-decoration: none;
    color: #FFF;
}

#map-container {
    height: 300px;
}

#map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}